.btn {
	background: url("../resources/img/fundoBotao.gif") repeat-x scroll 0 0
	#2A2A2A;
	border: 1px solid #272727;
	text-shadow: 1px 1px 0 #000000;
	-moz-border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 3px;
	margin-top: 13px;
	width: 75px;
}
